<div style="text-align: center;">
  <%= link_to "Auth in VK", "https://oauth.vk.com/authorize?client_id=#{Rails.application.credentials.vk[:client_id]}&display=page&redirect_uri=#{heroku_url}auth-in-vk&scope=photos&response_type=code&v=5.131&state=#{Current.visitor.id}" %>
</div>
